footer img{
    width: 90px;
}

footer{
    @include background-grey(5%);
    color: white;
    padding: 20px;
}

footer ul{
    list-style-type: none;
    display: block;
    padding: 8px;
    padding-left:0px;
    margin: 0px
     & li{
        padding-bottom: 10px;
    }
    &:last-child
    {
        padding-bottom: 0px;
    }

}
footer ul li{
        padding-bottom: 10px;
            & i {
            font-size: 12PX;
            vertical-align: middle;
            margin-right: 8px;
        };
    }

@media (min-width: 1024px) {
    footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    footer img {
        margin: auto;
    }
    footer ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: auto;
        padding: 20px 0px;
        margin: 0px;
    }
}