h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 700;
  
}
.arrow-left{
    position: absolute;
    top: 26px;
    left: 30px;
    font-size: 1.6em;
}
/*title secondary*/
.h2{
    text-align: left;
}